:root {

    --black: #0B132B;
    --text: #C6C6C6;
    --yellow: #ffbc42;
    --highlight: #FF0F00;
}

body {
    background-color: #0B132B;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 10px auto;

}

/* navigation bar  */
#logo {
    font-size: 25px;
    color: var(--text);
    font-family: 'Kaushan Script', cursive;
    border-bottom: 1px solid
}

.navbar {
    width: 60%;
    margin: 0 auto;
}

nav {
    background-color: #ffbc42;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
}

nav ul {
    text-decoration: none;

}

li {
    text-decoration: none;
    list-style: none;
    padding: 15px 20px;
    display: inline;

}

nav ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* ----------------sections start---------------------- */

.banner-section {
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #FF0F00;

}

.myself-section {
    margin: 0 auto;
    border: 1px solid #FF0F00;
    padding: 40px;
}

.mywork-section {

    margin: 0 auto;
    padding: 40px;
    border: 1px solid #FF0F00;
}

.reach-me-section {

    margin: 0 auto;
    padding: 40px;
    border: 1px solid #FF0F00;
}

/* ----------------banner-section---------------------- */

.banner {
    text-align: center;
}

.banner-title {
    color: var(--text);
    margin: 150px;
    /* margin: 50px auto; */
    font-size: 40px;

}

.special-letter {
    position: absolute;
    color: var(--highlight);
    margin: 2px 3px;
    z-index: -1;
    text-shadow: #e7e7e7;
}


/* ----------------myself section---------------------- */


.sub-title {
    color: var(--text);
    font-size: 20px;
    transform: rotate(-15deg);
    width: 150px;
}

figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;

}

img {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    margin-left: 0px;
}

myself-text {
    font-size: 15px;


}

p {
    color: var(--text);
    text-align: justify;
    padding: 40px;
    line-height: 2.0;


}

/* ----------------mywork section----------------------- */
.mywork-flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.mywork-website {

    height: 300px;
    width: 400px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 30px;
}

/* ----------------reachme section---------------------- */

form {
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(286.37deg, #FFBC42 49.97%, rgba(255, 66, 213, 0) 177.41%);
}

form ul {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

form ul label {
    display: inline-block;
    width: 100px;

}

input,
textarea {
    box-sizing: border-box;
    width: 350px;
    height: 35px;
    border: 1px solid var(--text);
    border-radius: 5px;
}

textarea {
    vertical-align: top;
    height: 60px;
}

button {

    height: 40px;
    width: 220px;
    background-color: var(--black);
    color: var(--text);
    border-radius: 5px;
    margin: 10px;
}


/* ----------------reachme section---------------------- */
.formbutton {
    text-align: center;
}

footer {
    border: 1px solid var(--highlight);
    background-color: #219ebc;
}

.footertext {
    color: var(--text);
    text-align: center;
}

@media only screen and (max-width: 1277px) {
    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    form {
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        border-radius: 20px;
    }
}
}