:root {

    --black: #0B132B;
    --text: #C6C6C6;
    --yellow: #ffbc42;
    --highlight: #FF0F00;
}

body {
    background-color: #0B132B;
    font-family: 'Open Sans', sans-serif;
}



header {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 10px auto;

}

main {
    width: 80%;
    margin: 0 auto;
}

/* navigation bar  */
#logo {
    font-size: 25px;
    color: var(--text);
    font-family: 'Kaushan Script', cursive;
    border-bottom: 3px solid var(--highlight)
}

.navbar {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #ffbc42;
    display: flex;
    justify-content: center;
    border-radius: 10px;

}
nav ul{
    list-style: none;
}


li {
    text-decoration: none;
    list-style: none;
    padding: 15px 20px;
    display: inline;

}

nav ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* ----------------sections start---------------------- */

.banner-section {
    margin: 0 auto;
    padding: 40px;
    
}

.myself-section {
    margin: 0 auto;
    padding: 40px;
}

.mywork-section {

    margin: 0 auto;
    padding: 40px;
    
}

.reach-me-section {

    margin: 0 auto;
    padding: 40px;
    
}

/* ----------------banner-section---------------------- */

.banner {
    text-align: center;
}

.banner-title {
    color: var(--text);
    margin: 120px;
    font-size: 40px;

}

.special-letter {
    position: absolute;
    color: var(--highlight);
    margin: 2px 3px;
    z-index: -1;
    text-shadow: #e7e7e7;
}


/* ----------------myself section---------------------- */


.sub-title {
    color: var(--text);
    font-size: 20px;
    width: 150px;
    border-bottom: 3px solid var(--text);
    
    
}

.sub-title  h2{
    
}

figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;

}

img {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    
}


#myself-text p {
    color: var(--text);
    text-align: justify;
    padding: 40px;
    line-height: 2.0;
    font-size: 16px;


}

/* ----------------mywork section----------------------- */
.mywork-flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.mywork-websiteimg {

    height: 300px;
    width: 400px;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 50px;
}

/* ----------------reachme section---------------------- */

form {
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(286.37deg, #FFBC42 49.97%, #FF42D5 177.41%);
}

form ul {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px; 


}

form ul label {
    display: inline-block;
    width: 100px;

}

input,
textarea {
    box-sizing: border-box;
    width: 350px;
    height: 35px;
    border: 1px solid var(--text);
    border-radius: 5px;
}

textarea {
    vertical-align: top;
    height: 60px;
}

button {

    height: 40px;
    width: 220px;
    background-color: var(--black);
    color: var(--text);
    border-radius: 5px;
    margin: 10px;
}


/* ----------------reachme section---------------------- */
.formbutton {
    text-align: center;
}

footer {
    border: 1px solid var(--highlight);
    background-color: #e63946;
    margin-top: 30px;

}

.footertext {
    color: var(--text);
    text-align: center;
}

/*------- media queries responsive------------ */
@media only screen and (max-width: 903px)  {

    /* secions media querys */
    .banner-section,
    .myself-section,
    .mywork-section,
    .reach-me-section {

        padding: 2px;
    }

    main {
        width: 100%;
        margin: 0 auto
    }

    /*------- headder media querys------------ */

    header {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #logo {
        font-size: 15px;
    }

    .navbar {
        width: 100%;
        margin: 5px auto;
        flex-direction: column;
    }

    li {
        text-decoration: none;
        list-style: none;
        display: block;

    }

    nav ul li a {

        font-size: 15px;
        padding: 5px;
        padding: 4px 2px;

    }

    /*------- banner media querys------------ */
    .banner-title {
        color: var(--text);
        margin: 010px;
        font-size: 20px;

    }

    .sub-title {
        transform: rotate(0deg);
        margin: 0 auto;
        font-size: 15px;
        text-align: center;

    }

    /*------- myself media querys------------ */
    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;

    }

    img {
        height: 100px;
        width: 100px;
        border-radius: 10px;
        margin-left: 0px;
    }

    #myself-text p {
        text-align: justify;
        padding: 10px;
        line-height: 2;
        font-size: 10px;
    }

    /*------- mywork media querys------------ */

    .mywork-website {

        height: 100px;
        width: 200px;
        border-radius: 5px;
        margin-left: 15px;
        margin-top: 10px;
    }

    /*------- reach me media querys------------ */

    form {

        padding: 10px;
        border-radius: 10px;

    }

    input,
    textarea {
        box-sizing: border-box;
        max-width: 250px;
        height: 35px;
        border: 1px solid var(--text);
        border-radius: 5px;
    }

    textarea {
        vertical-align: top;
        height: 60px;
    }
}
/* --------------------------------------------------------------------------------------- */
/*------- media queries responsive------------ */
@media only screen and (min-width: 903px) and (max-width: 1240px) {

    /* secions media querys */
    .banner-section,
    .myself-section,
    .mywork-section,
    .reach-me-section {

        padding: 10px;
    }

    main {
        width: 80%;
        margin: 0 auto
    }

    /*------- headder media querys------------ */

    header {
        flex-direction: row;
        width: 80%;
    }

    #logo {
        font-size: 15px;
    }

    .navbar {
        width: 100%;
        margin: 5px auto;
        flex-direction: row;
        justify-content: center;
    }
    nav {
        width: 60%;  
    }

    li {
        text-decoration: none;
        list-style: none;
        display: inline;

    }

    nav ul li a {

        font-size: 15px;
        padding: 5px;
        padding: 4px 2px;

    }

    /*------- banner media querys------------ */
    .banner-title {
        /* margin-bottom: 100px; */
        font-size: 25px;
        


    }

   
    /*------- myself media querys------------ */
    .sub-title {
        transform: rotate(0deg);
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
        

    }
    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;

    }

    img {
        height: 200px;
        width: 200px;
        border-radius: 10px;
        margin-left: 0px;
    }

    #myself-text p {
        text-align: justify;
        padding: 10px;
        line-height: 2;
        font-size: 15px;
    }

    /*------- mywork media querys------------ */

    .mywork-website {

        height: 200px;
        width: 300px;
        border-radius: 5px;
        margin-left: 15px;
        margin-top: 10px;
    }

    /*------- reach me media querys------------ */

    form {

        padding: 10px;
        border-radius: 10px;

    }

    input,
    textarea {
        box-sizing: border-box;
        width: 350px;
        height: 35px;
        border: 1px solid var(--text);
        border-radius: 5px;
    }

    textarea {
        vertical-align: top;
        height: 60px;
    }
}

